<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--UrlRewriter-->
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <location path="." allowOverride="true" inheritInChildApplications="false">
   
    <!--UrlRewriter-->
    <rewriter>
      <register parser="KyCMS.Web.MVC.UrlRewriter.DynamicMappingConditionParser,KyCMS.Web.MVC" />
      <if dynamicmapping="true">
        <rewrite url="~/a/test$" to="~/test.aspx" processing="stop" />
        <rewrite url="~/test$" to="~/test.aspx" processing="stop" />
      </if>
    </rewriter>

    <system.web>
      <!--UrlRewriter Windows 2003 IIS 6 Config Setting-->
      <!--<httpModules>  
            <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter" />  
          </httpModules>-->
    </system.web>
    <system.webServer>
      <!--UrlRewriter Windows 7 II7 Config Setting-->
      <modules runAllManagedModulesForAllRequests="true">
        <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter" preCondition="" />
      </modules>
    </system.webServer>
  </location>
</configuration>
